extends layout

block contenido
    .contenido-principal
        h1 #{nombrePagina} - #{proyecto.nombre}




        // TODO -- formulario aqui

        
        // TODO -- Listados pendientes
        
        //- pre=vardump(proyecto)
        
        // Acciones que se pueden realizar
        .contenedor-acciones
            a(href=`/proyecto/editar/${proyecto.id}` class="boton") Editar Proyect
            button#eliminar-proyecto(type="button" class="boton eliminar") Eliminar Proyect 
        