doctype html
html(lang="en")
      head
         meta(charset="UTF-8")
         meta(http-equiv="X-UA-Compatible", content="IE=edge")
         meta(name="viewport", content="width=device-width, initial-scale=1.0")
         style 
            include ./email.css     
     body 
        h2 Restablecer Password 
        p Hola , has solcititado restablecer tu contraseña, haz click aqui 
        a(href=`${resetUrl}`) Ir a Reestablecer tu contraseña
        p Si no puedes acceder, toca aqui #{resetUrl}
        p Si no solicitaste el e-mail, puedes ignorarlo 